#map {
  width: 960px;
  height: 500px;
  padding: 0;
  margin: 0;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 20px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
.info {
  padding: 6px 8px;
  background: white;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

body{
  background:#fff;
}

.big-rows{
  margin:0px;padding:0px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light{
  color:#3db7e4;
  background-color:#333 !important;
  /*#3db7e4*/
}

.navbar-light .navbar-brand{

color: #fff !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}
.navbar-brand h1.title-font{
  font-weight: 100;
  font-size: 34px;
  margin-bottom: 0px;
}

.divvy-logo img{

  margin-top:50px;
}

#map{
 height:500px;
}

h6{
  font-size:12px;
}

.navbar-light .navbar-toggler {
  background-color: #fff;
}

.navbar-fixed-top{

  top: 0;
  z-index: 9999;
  width: 100%;
  position: fixed;

}

.side-left-nav{
  margin: 0px;
  min-height: 5000px;
  position: fixed;
  z-index: 9998;
  /*top: 0;*/
  padding-top: 25px;
  background-color:#222;    
}


.card-footer:last-child {
  height: 50px;
  background-color:#fff;
}

.nav-left-ol{
  padding-left: 18px;
  padding-top: 0px;
}

.nav-left-ol li{
  padding-bottom: 42px !important;
}

ol.nav-left-ol li .fas{
  font-size: 25px;
  padding-right: 5px;

}

ol.nav-left-ol li a{
  padding-bottom: 20px;
  font-weight: bold;

}

.leaflet-popup-content-wrapper {
  padding: 5px !important;
  border-radius: 0px !important;
}

.leaflet-popup-content {
  margin: 19px 19px !important;
}

.breadcrumb{
background-color: #fff;
border-radius: 0;
border: 1px solid #e3e3e3;
}
.card-header{
background-color: #fff;
}
.card{
  border-radius: 0;
}

.dropdown-menu{
  border-radius: 0px !important;
}

a,h2,h3,h4,h5,h6{

  font-family: 'IBM Plex Sans Condensed', sans-serif;
}
a{

  color:#3db7e4;
}

h1.title-font{
  font-family: 'IBM Plex Sans', monospace;

}

p{
  font-family: 'IBM Plex Sans', sans-serif;
}

.main-cont{
  margin:0px;
  padding:0px; 
  margin-top:67px;

}

.main-chart{
  background-color:#fff;  
  height:100%;
}

.navbar-fixed-top{
  background-color:#333 !important;
}

.breadcrumb{
  margin-top:15px;
}

.top-li{
  padding-top:20px;
}

.top-li a{
  padding-top:20px;
}

.nav-left-ol li{
  padding-bottom:20px;
}

.nav-left-ol li a{
color:#fff;
padding-bottom:20px;

}