nav.navbar.navbar-expand-lg.navbar-light.bg-light{
    color:#3db7e4;
    background-color:#fff !important;
    /*#3db7e4*/
}

.navbar-light .navbar-brand{

	color: #fff !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}
.navbar-brand h1.title-font{
    font-weight: 100;
    font-size: 34px;

	}

.divvy-logo img{

    margin-top:50px;
}

#map{
   height:500px;
}

h6{
    font-size:12px;
}

.navbar-light .navbar-toggler {
    background-color: #fff;
}

.navbar-fixed-top{

    top: 0;
    z-index: 9999;
    width: 100%;
    position: fixed;

}

.side-left-nav{
    margin: 0px;
    min-height: 5000px;
    position: fixed;
    z-index: 9998;
    /*top: 0;*/
    padding-top: 25px;

}


.card-footer:last-child {
    height: 50px;
    background-color:#fff;
}

.nav-left-ol{
    padding-left: 18px;
    padding-top: 0px;
}

.nav-left-ol li{
    padding-bottom: 42px !important;
}

ol.nav-left-ol li .fas{
    font-size: 25px;
    padding-right: 5px;

}

ol.nav-left-ol li a{
    padding-bottom: 20px;
    font-weight: bold;

}

.leaflet-popup-content-wrapper {
    padding: 5px !important;
    border-radius: 0px !important;
}

.leaflet-popup-content {
    margin: 19px 19px !important;
}

.breadcrumb{
background-color: #fff;
border-radius: 0;
border: 1px solid #e3e3e3;
}
.card-header{
background-color: #fff;
}
.card{
    border-radius: 0;
}

.dropdown-menu{
    border-radius: 0px !important;
}

a,h2,h3,h4,h5,h6{

    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

h1.title-font{
    font-family: 'IBM Plex Sans', monospace;

}

p{
    font-family: 'IBM Plex Sans', sans-serif;
}