nav.navbar.navbar-expand-lg.navbar-light.bg-light{
    color:#fff;
    background-color:#3db7e4 !important;
}

.navbar-light .navbar-brand{

	color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar-brand h1.title-font{
    font-weight:200;
    font-size:35px;

	}

.divvy-logo img{

    margin-top:50px;
}

#map{
   height:500px;
}

h6{
    font-size:12px;
}

.navbar-light .navbar-toggler {
    background-color: #fff;
}

.navbar-fixed-top{

    top: 0;
z-index: 9999;
width: 100%;
position: fixed;

}

.side-left-nav{
margin: 0px;
min-height: 800px;
position: fixed;
z-index: 9998;

}


.card-footer:last-child {
    height: 50px;
}

.nav-left-ol{
    padding-left: 18px;
    padding-top: 30px;
}